{% extends "base.html" %}

{% block content %}
{% for website in websites %} 
		<br/></br/>
    <h1><a href="{{website.url}}">{{ website.title }}</a></h1>         
		<ul>
    {% for entry in website.entries_one_to_ten %}   
			<li><a href="{{entry.url}}">{{ entry.title }}</a></li>
		{% endfor %}      
		{% if website.entries_eleven_to_twenty %}     
    <div id='{{website.title}}' style="display:none;">
		  <div>
		    {% for entry in website.entries_eleven_to_twenty %}   
					<li><a href="{{entry.url}}">{{ entry.title }}</a></li>
				{% endfor %}
		  </div>
		</div>
		</ul>
		<a href="#" onclick="Effect.toggle('{{website.title}}', 'slide', { delay: 0.5 }); return false">More/Less</a>    
		<br/></br/> 
		{% endif %}
{% endfor %}
{% endblock %}